{%extends 'home/base.html'%}
{% block content %}
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="mb-4 text-center"> Elimina en caso de ser necesario</h1>

                <form action="{% url 'eliminar' alumno.id %}" method="POST" class="p-4 border rounded shadow-sm bg-light">
                    {% csrf_token %}
                    {{ form|safe }}
                    <div class="d-grid mt-3">
                        <p class="text-danger">¿Estás seguro de que deseas eliminar el usuario {{alumno}}?</p>
                        <button type="submit" class="btn btn-primary">Confirmar Borrado</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
