{%extends 'home/base.html'%} 

{% block content %}
    <main class="container my-5">
        <h1 class="text-center mb-4">Listado de Alumnos</h1>

        {% if alumnos %}
        <ul class="list-group">
            {% for alumno in alumnos %}
            <li class="list-group-item">
                {{ alumno }} 
                | <a href="{% url 'detalles' alumno.id %}">Ver Detalles</a> 
                | <a href="{% url 'modificar' alumno.id %}">Modificar</a>
                | <a href="{% url 'eliminar' alumno.id %}">Eliminar</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            No hay alumnos registrados actualmente.
        </div>
        {% endif %}
    </main>

{%endblock %}
