<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDIX</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "anotarse" %}>Anotarse</a>
        <a href={% url "lista_de_alumnos" %}>Lista de Alumnos</a>
    </nav>
    <h1>Listado de Alumnos</h1>
    
    <ul>
        {% for alumno in alumnos %}
        <li>
            {{alumno}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>