{% extends 'home/base.html' %}

{% block content %}
<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="mb-4 text-center">¡Modificá los datos del alumno!</h1>

            <form method="POST" class="p-4 border rounded shadow-sm bg-light">
                {% csrf_token %}
                
                {{ form.as_p }}

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
                <div class="d-grid mt-2">
                    <a href="{% url 'lista_de_alumnos' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
